<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.it_college.std.s13012.shakebattle" >

    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".TitleActivity"
            android:label="@string/title_activity_title"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParticipationWaitActivity"
            android:label="@string/title_activity_participation_wait"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TimeAttackActivity"
            android:label="@string/title_activity_time_attack"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OpponentSearchActivity"
            android:label="@string/title_activity_opponent_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CountAttackActivity"
            android:label="@string/title_activity_count_attack"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WaitOpponentActivity"
            android:label="@string/title_activity_wait_opponent" >
        </activity>
    </application>

</manifest>
